.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#inputID::placeholder {
  text-align: center;
  color: #ffffff;
}

#inputID:focus::-webkit-input-placeholder {
  opacity: 0;
}

.ButtonHeader {
  background-color: #2F496C;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 15px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 24px;
  font-weight: 700;
  opacity: 0.4;
  margin-top: 74px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.ButtonHeader:hover {
  color: black;
  background-color: #ED8C50
}


